Start Variables */
:root {
  --clr-primary-400: hsl(322, 100%, 66%); /* #ff52bf */

  --clr-neutral-100: hsl(0, 0%, 100%); /* #fff */
  --clr-neutral-200: hsl(193, 100%, 96%); /* #ebfbff */
  --clr-neutral-400: hsl(208, 11%, 55%); /* #808d99 */
  --clr-neutral-800: hsl(192, 100%, 9%); /* #00252e */
  --clr-neutral-900: hsl(0, 0%, 1%); /* #030303 */
  --clr-neutral-900-blur: rgba(3, 3, 3, 0.15); /* #03030326 */

  --ff-base: "Open Sans", sans-serif;
  --ff-accent: "Poppins", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --dt-main: 0.5s;

  --pd-main: 60px;
  --pd-large: 150px;
}
/* End Variables */
/* Start Global Rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--ff-base);
  background-color: var(--clr-neutral-100);
  /* background-color: var(--clr-neutral-800); */
}
::selection {
  background-color: var(--clr-primary-400, #ff52bf);
  color: var(--clr-neutral-200, #ebfbff);
}
.container {
  padding: 0 15px;
  margin: 0 auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* Extra Large */
@media (min-width: 1450px) {
  .container {
    width: 1395px;
  }
}
/* End Global Rules */
/* Start Components */

/* End Components */
/* Start Header */
.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: var(--pd-main, 60px);
}
.heading img {
  height: 34px;
}
.heading .button {
  all: unset;
  background-color: var(--clr-neutral-100, #fff);
  color: var(--clr-neutral-800, #00252e);
  padding: 15px 68px;
  border-radius: 100px;
  font-family: var(--ff-accent);
  box-shadow: 0px 0px 20px var(--clr-neutral-900-blur, #0303030d);
}
.heading .button:hover {
  opacity: 0.5;
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
  width: 100%;
  background-color: var(--clr-neutral-150, #ecfbfe);
  height: 766px;
  background-image: url("/images/bg-hero-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}
.landing .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.landing .landing-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 68px 0px;
}
.landing .text {
  width: 545px;
}
.landing .image {
  width: 730px;
}
.landing .text h1 {
  font-size: 42px;
  font-weight: var(--fw-semi-bold);
  font-family: var(--ff-accent);
  line-height: 1.5;
}
.landing .text p {
  font-size: 19px;
  font-weight: var(--fw-regular);
  line-height: 1.5;
  margin: 30px 0;
}
.landing .text .button {
  all: unset;
  background-color: var(--clr-primary-400, #ff52bf);
  color: var(--clr-neutral-200, #ebfbff);
  font-family: var(--ff-accent);
  padding: 20px 70px;
  border-radius: 100px;
}
.landing .text .button:hover {
  opacity: 0.5;
}
/* End Landing */
/* Start Features */
.features {
  padding-top: var(--pd-large, 100px);
  padding-bottom: var(--pd-large, 100px);
}
.features .container {
  display: flex;
  flex-direction: column;
  row-gap: var(--pd-main);
}
.features .card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 485px;
  border-radius: 18px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.features .card .text {
  padding: 135px;
}
.features .card h2 {
  color: var(--clr-neutral-800, #00252e);
  font-size: 30px;
  font-family: var(--ff-accent);
}
.features .card p {
  color: var(--clr-neutral-400, #808d99);
  font-size: 18px;
  font-weight: var(--fw-regular);
  line-height: 1.5;
  margin-top: 20px;
}
.features .card .image {
  /* visibility: hidden; */
  max-height: 100%;
  padding: 40px;
}
/* * Card Two */
.features .card:nth-child(2) {
  flex-direction: row-reverse;
}
.features .card:nth-child(2) .text {
  padding-right: 12px;
}
.features .card:nth-child(2) .image {
  padding-right: 75px;
}
/* End Features */
/* Start Footer */
.footer {
  background-color: var(--clr-neutral-800, #00252e);
  padding-top: 200px;
  padding-bottom: 65px;
  position: relative;
  text-align: center;
  margin-top: 100px;
}
.footer .offer {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -100px;
  background-color: var(--clr-neutral-100, #fff);
  color: var(--clr-neutral-800, #00252e);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding-top: 50px;
  padding-bottom: 50px;
  width: 856px;
  border-radius: 15px;
}
.footer .offer h3 {
  font-size: 32px;
}
.footer .offer .button {
  all: unset;
  background-color: var(--clr-primary-400, #ff52bf);
  color: var(--clr-neutral-200, #ebfbff);
  font-family: var(--ff-accent);
  padding: 20px 70px;
  border-radius: 100px;
  margin-top: 40px;
}
.footer .offer .button:hover {
  opacity: 0.5;
}

/* End Footer
